body {
    margin: 0px;
    background-color: #FFF2D7;
    font-family: "Montserrat", "Roboto", "Lato", sans-serf;
    color: #543310;
    font-size: 15px;
}

nav {
    background-color: #F8C794;
    padding: 10px;
    border: 0px solid #D8AE7E;
    border-width: 5px 0px 5px 0px;
    border-radius: 5px;
    font-family: "Roboto", "Montserrat", "Lato", sans-serf;

    display: flex;
    justify-content: space-between;
}

nav p {
    margin: 0px;
    font-size: 1.5em;
}

footer {
    background-color: #F8C794;
    padding: 10px;
    
    border: 0px solid #D8AE7E;
    border-width: 5px 0px 5px 0px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.splash {
    background-color: #FFE0B5;
    border: 0px solid #D8AE7E;
    padding: 10px;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20% 20%;
    grid-template-areas: 
        "header paragraph"
        "image paragraph";
}

.splash h1 {
    grid-area: header;
    font-family: "Roboto", "Montserrat", "Lato", sans-serf;
    color: #543310;
}

.splash img {
    grid-area: image;
    max-width: 50%;
    border-radius: 30px;
}

.splash p {
    border-radius: 10px;
    border: 3px solid #D8AE7E;
    padding: 5px;
}

hr {
    border: 3px solid #D8AE7E;
    margin: 0px;
}

section h2 {
    font-family: "Roboto", "Montserrat", "Lato", sans-serf;
    color: #543310;
}

p.education {padding: 5px 5px 5px 20px;}

ul {
    list-style-position: inside;
    list-style-type: circle;
}

li {padding: 5px 0px 5px 0px;}

dl {
    padding: 5px 5px 5px 20px;
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: start;
}

dt {padding: 5px 0px 5px 0px;}
dd {padding: 5px 0px 5px 0px;}

a:link {
    color: #453F78;
    text-decoration: none;
}
a:visited {color: #453F78;}
a:link:hover {color: #00224D;}
a:visited:hover {color: #00224D;}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 3px solid #D8AE7E;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.card img {
    display: block;
    width: 50%;
    background-color: #F8C794;
    border: 3px solid #D8AE7E;
    border-radius: 10px;
    margin: 0 auto;
}

.card h3{margin: 10px 0px 0px 0px;}
.card ul{margin: 0px;}

.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
.card ul {
    padding: 0px;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0 auto;
    max-width: 50%;
    padding: 10px;
}

.one-col input{margin: 10px;}
.one-col label{margin: 5px;}
